<!-- Footer -->
<footer class="footer py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2020, HyperKar or affiliates</p>
      <p class="m-0 text-center text-white">Affiliates Sites || <a class="text-white" href="https://www.shengtao.website/company/final_project/">YU-GI-OH Cards</a> || <a class="text-white" href="http://pichao314.com/index.php">PC's Home</a> || <a class="text-white" href="http://xunand.com/index.php">MusicLife</a> ||</p>
    </div>
<!-- /.container -->
</footer>